# Ignore files starting with ".". Already tracked files are not affected.
.*
Applications
Desktop
Documents
Downloads
Library
Lightroom
MittalDocuments
Movies
Music
Pictures
Public
RAW
StudioProjects
bin
dev
sdrecovery
Creative Cloud Files
